*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins',sans-serif;   
}

body{
    font-family: 'Poppins',sans-serif;   
    background-color: #fad6a5;
}

a{
    font-size: small;
}

h1{
    font-family: 'Poppins',sans-serif;
    padding: 30px 100px;
    text-align: center;
}

h2{
    text-align: center;
    padding: 20px;
}
.verticalline{
    border-left: 1px solid #987554;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 180;
  }

  .title{
    font-family: serif;
    font-size: 50px;
    color: #fad6a5;
    text-decoration: none;
    margin: 5px;
    font-weight: bold;
}

  button {
    background-color: #987554; /* Green */
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
  }

  button:hover{
    background: #C4A484;
    transition: .5s;
  }

  hr { 
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    border-style: inset 1px solid #987554;;
    border-width: 1px;
    border-color: #987554;
  } 
/* NAV BAR */
.navbar{
    background-color: #453823;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    justify-content: flex-end;
}

li {
    float: left;
}

.title{
    font-family: serif;
    font-size: 50px;
    color: #fad6a5;
    text-decoration: none;
    margin: 5px;
}

a:hover{
    text-decoration: underline;
    color: #fad6a5;
}

.search {
    border: 1px solid #d1d5db;

    margin-right: 1px;
    width: 250px;
    padding: 7px 7px;
    border-radius: 12px;
}

.search__input {
    border-color: transparent;
}

.btn{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    outline: none;
    background-color: #453823;
    color: #fad6a5;
    border: none;
    height: 44;
    width: 44;
    padding: 7px 7px;
    border-radius: 12px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.25s;
    margin-right: 10px;
}

.btn1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    outline: none;
    background-color: #453823;
    color: #fad6a5;
    border: none;
    height: 44;
    width: 44;
    border-radius: 12px;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
    transition: 0.25s;
    margin-right: 5px;
    align-content: center;
    font-size: 10;
}

.btn:hover, .btn1:hover{
    background-color: #44291C;
    color: #fad6a5;
}


/* login and sign up button */

.login-container{
    text-align: center;
}
